.accordian__button{
    padding: 15px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    text-align: left;
    background-color: black;
    color: white;
    margin: 3px 0px;
    font-size: 17;
    /* transition: height .3s; */
}
.accordian__button::after{
    content: '\25be';
float: right;
transform: scale(1.8);
}

.accordian__button__active{
    background-color: rgba(0, 0, 0, 0.897);
}
.accordian__button__active + .accordian__content{
display: block;
transition: display .3s;
}
.accordian__button__active::after{
    content: '\25b4';
}  
.accordian__content{
    /* max-height: 0;
    overflow: hidden;
    */
    transition: height .3s;
    padding: 0px 15px;
    overflow: auto;
    display: none;
}